fastapi==0.109.0
uvicorn[standard]==0.27.0
google-cloud-storage==2.14.0
pydantic==2.5.3
python-multipart==0.0.6

numpy==1.26.4
pandas==2.2.2
librosa==0.11.0
pydub==0.25.1
speechbrain==1.0.3

# IMPORTANT: pin Torch + Torchaudio to versions that play nice with pyannote
torch==2.1.2
torchaudio==2.1.2
pyannote.audio==3.1.1
